.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    &--main {
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 2rem;
        animation: moveInLeft 2s ease-out;
    }
    
    &--sub {  
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.67rem;  
        animation: moveInRight 2s ease-out;
    }
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 3rem;
}